*{
    border-radius: 10px;
}
html {
    height: 100%;
}

body{
    margin: 0;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%) no-repeat fixed ;
}

.wrapper{
    margin: 50px auto;
    padding: 40px;
    max-width: 750px;
    background-color: rgba(255,255,255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-app{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 20px 0;
    background-color: rgba(255,255,255, 0.2);
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-field{
    font-size: 16px;
    color: gray;
    font-weight: bolder;
    border-color: transparent;
    height: 20px;
    padding: 5px 10px;
}
.input-field:focus-visible{
    outline: none;
}
.input-field:focus::placeholder {
    color: transparent;
}
.input-field::placeholder {
    color: lightgray;
}



.task-block{
    width: 70%;
    margin: 20px 0;
    background-color: rgba(255,255,255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done-block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.done{
    text-decoration: line-through;
}

.task{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

svg{
    height: 40px;
    cursor: pointer;
}

.btn-block{
    margin: 40px 0 0 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clear-btn{
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}
.disable-btn{
    cursor: not-allowed;
}

.modal-wrapper{
    border-radius: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100%;
}
.modal-window{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, 0.9);
    width: 30%;
    max-width: 100%;
    padding: 40px 0;
    font-size: 16px;
    font-weight: bold;
    color: gray;

}

.modal-window button{
    border-color: gray;
    font-size: 12px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
